
@charset "utf-8";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


/*------ The custom style -----*/

//variables
$bgc-f: #fff; /* 主背景 */
$bgc-g: #F4F9F4; /* 灰色背景 */
$bgc-26: #262626; /* 浅黑色背景 */
$bgc-1b: #1b1b1b; /* 黑色背景 */

$txc: #3f3f3f; /* 文本颜色 */
$txc-f: #f6f6f6;
$txlc:#0e932e; /* 链接文本 */

/* common */



a {
    color: $txc;
}
a:hover{
    color:$txlc
};

/* header */
header{
    background-color: #fff;

    .navbar{
        margin-bottom:0;

        //控制导航栏的距离
        ul{
            margin-top:6px;
        }
    }

    .logo{
        height:60px;
        line-height:60px;

        a, a:hover{
            padding-left:5px;
            text-decoration:none;
        }
    }

    //取消导航链接背景色
    .nav{
        >li{
            >a:hover, >a:focus{
                background-color: transparent;
            }
        }
    }
}

/* footer */
footer{
    #contact{
        .container{
            .contact-list{
                float:left;
                padding:20px 30px 0 0;
                &:first-child, &:nth-child(2){
                    width:40%;
                }
                &:last-child{
                    width:20%;
                }
            }
            &:nth-child(2), .service-center p:nth-child(2){
                font-size:40px;
                line-height:52px;
                color:#2AB27B;
            }
        }
    }
    .address{
        padding-top:2em;
        padding-bottom:2em;
        color:#fff;
        background-color:#262626;
        border-top: 1px solid rgba(255,255,255, .1);
        .big-title, .small-title{
            font-weight:700;
        }
        .big-title{
            color:#f5f5f5;
        }
        .small-title{
            color:#ececec;
        }
        .block{
            margin-top:1em;
            font-size:12px;
            color:#ccc;
            p{
                margin-bottom: 5px;
            }
        }
        .btn{
            margin-top:1em;
            font-size:12px;
        }
        .icon{
            display:inline-block;
            width:36px;
            height:36px;
            margin-right:1em;
        }
        .wechat{
            background: url("/images/icon-wechat.png") no-repeat;
            background-size:contain;
        }
        .weibo{
            background: url("/images/icon-weibo.png") no-repeat;
            background-size:contain;
        }
        .qq{
            background: url("/images/icon-qq.png") no-repeat;
            background-size:contain;
        }
    }

    .copyright{
        padding:1em 0;
        font-size:12px;
        color:#ccc;
        background:#111;
        border-top:1px solid rgba(255,255,255, .15);
    }
}

/* _category */
.category{
    >.nav{
        > li{
            > a{
                font-size:0.95em;
                color: #3f3f3f;
                background-color: #fbfbfb;
                cursor:pointer;

                &.category-header{
                    color:#fff;
                    background-color: #8aae92;
                }
            }
        }
    }

    ol.nav-tabs{
        >li{
            a{
                font-size:0.85em;
                padding-left:20px;
                border-color: transparent #eee #eee #eee;
                background-color: #fff;
                &:hover, &:focus{
                    border-left:5px solid #269D81;
                }
            }
        }
    }
}

/* 统一样式 */
//body间距，面包屑导航背景透明
.products, .product, .brands, .brand, .news, .new, .questions, .question, .recruits, .recruit{
    padding-top:20px;
    padding-bottom:50px;
    .header-list{
        .breadcrumb{

            background-color: transparent;

            li:not(last-child){
                a {
                    color: #269D81;
                    &:hover, &:focus{
                        text-decoration:none;
                    }
                };
            }

        }
    }
}

/* products */
.products {
    .panel{
        background-color:#fff;
        .panel-body{
            .products-list{
                padding-left:10px;
                padding-right:10px;
                .product{
                    float:left;
                    padding-left:1%;
                    padding-bottom:20px;
                    width:20%;
                    a{
                        &.thumbnail{
                            background-color: transparent;
                            border-radius:0;
                            border-color:#eee;
                            padding:10px 20px;
                        }
                        &:hover, &:focus{
                            border-color:#269D81;
                        }
                    }
                    img{
                        width:150px;
                        height:100px;
                        background-color:#eee;
                    }
                    .caption{
                        overflow:hidden;
                        margin-top:-12px;
                        height:25px;
                        line-height:25px;
                    }
                }
            }
            .empty-block{
                padding-left:20px;
                padding-right:10px;
            }
        }
    }
}

.product{
    .panel-heading{
        padding-left:0;
        padding-right:0;
    }
    .panel-body{
        padding-left:20px;
        padding-right:20px;
        hr{
            margin-top:50px;
        }
    }
    .header-list{
        border-bottom:1px solid #eee;
    }
    h3{
        margin-top:0;
        font-size:14px;
        font-weight:700;
        &::after{
            content:"";
            display:block;
            border-bottom: 3px solid #269D81;;
            padding-bottom:6px;
            width:60px;
        }
    }
    .media-left{
        padding-right:60px;
        .product-img{
            background-color:transparent;
            border-radius:0;
            padding:15px;
        }
    }
    .product-block{
        padding-top:5px;
        padding-bottom:5px;
        &:first-child{
            margin-top:-10px;
        }
        &:last-child{
            padding-top:15px;
            padding-bottom:0;
        }
        h4{
            font-size:12px;
            font-weight:700;

            &.title-green{
                color:#269D81;
            }
        }
        p{
            font-size:12px;
        }
    }
}

/* brands */
.brands{
    .letters{
        color:#616161;
        padding-bottom:10px;
        padding-left:15px;
        .btn {
            margin-left:2px;
            &:hover, &:focus{
                color:#fff;
                background-color:#269D81;
            }
        }
    }

    .brands-list{
        padding-left:10px;
        padding-right:10px;
        .brand{
            float:left;
            width:22%;
            a{
                margin-left:2%;
                margin-right:10%;
                &.thumbnail{
                    background-color: transparent;
                    border-radius:0;
                }
                &:hover, &:focus{
                    border-color:#269D81;
                }
            }
            img{
                width:150px;
                height:80px;
            }
        }
    }


    .empty-block{
        padding-left:20px;
        padding-right:10px;
    }
}

.brand{
    .panel-heading{
        padding-left:0;
        padding-right:0;
    }
    .panel-body{
        padding-left:20px;
        padding-right:20px;
        hr{
            margin-top:50px;
        }
    }
    .header-list{
        border-bottom:1px solid #eee;
    }
    h3{
        margin-top:0;
        font-size:14px;
        font-weight:700;
        &::after{
            content:"";
            display:block;
            border-bottom: 3px solid #269D81;;
            padding-bottom:6px;
            width:60px;
        }
    }
    .media-left{
        padding-right:60px;
    }
    .brand-block{
        padding-top:5px;
        padding-bottom:5px;
        &:first-child{
            padding-top:0;
        }
        h4{
            font-size:12px;
            font-weight:700;

            &.title-green{
                color:#269D81;
            }
        }
        p{
            font-size:12px;
        }
    }

    .products-list{
        .product{
            float:left;
            padding-left:0;
            padding-bottom:10px;
            width:25%;
            a{
                &.thumbnail{
                    background-color: transparent;
                    border-radius:0;
                    border-color:#eee;
                }
                &:hover, &:focus{
                    border-color:#269D81;
                }
            }
            img{
                width:180px;
                height:120px;
                background-color:#eee;
            }
            .caption{
                margin-top:-12px;
            }
        }
    }

}



/* news */
.news{

    .header-list{
        border-bottom:1px solid #eee;
    }
    .new{
        padding-left:30px;
        a{
            &:hover, &:focus{
                text-decoration:none;
            }
        }
        p{
            font-size:12px;
        }
        .tips{
            margin-top:30px;
            font-size:12px;
        }
    }

}

/* news show page */
@import "news_body";
.news-show-page{
    .panel{
        padding:15px;
        h1{
            margin:.4em auto .6em;
            font-size:28px;
            line-height:38px;
        }

        .about-news h1{
            font-size:18px;
        }
    }


}

/* questions */
.questions{
    .header-list{
        border-bottom:1px solid #eee;
    }
    .list-group-item{
        a{
            text-decoration:none;
        }
        background:url('/images/question_green.png') no-repeat 1% 50%;
        padding-left:50px;
        &:hover, &:focus{
            cursor:pointer;
            background:url('/images/question_red.png') no-repeat 1% 50%;
            border:none;
        }
    }
}

/* recruits */
.recruits{
    .header-list{
        border-bottom:1px solid #eee;
    }
    .list-group-item{
        &:first-child{
            margin-top:0;
        }
        margin-top:10px;
        margin-bottom:10px;
        border:none;
        a{
            color:#269D81;
            font-size:14px;
            margin-bottom:10px;
            &:hover,&:focus{
                text-decoration:none;
            }
        }
        p{
            font-size:12px;
        }
    }
}

.recruit{
    .header-list{
        ul{
            margin-bottom: 0;
        }
    }

    .panel-heading.content{
        padding:30px 40px 0 40px;

        .explain::after, .other::after, .other-position::after{
            content:"";
            display:block;
            border-bottom: 3px solid #269D81;
            padding-bottom:12px;
        }
        .explain::after{
            width:65px;
        }
        .other::after{
            width:30px;
        }
    }
    .panel-body.content{
        padding:10px 40px 20px 40px;
        .time, .addr, .publisher{
            font-size:12px;
        }
    }

    .sider{
        a, a:hover, a:focus{
            text-decoration:none;
        }
    }

}

.question{
    .header-list{
        ul{
            margin-bottom: 0;
        }
    }

    .panel.content{
        padding:30px 40px;

        .panel-heading{
            background:url('/images/question_red.png') no-repeat 1% 50%;
            position:relative;

            .panel-title{
                padding-left:30px;
                &::after{
                    content:"";
                    display:block;
                    border:0.7px solid #eee;
                    width:100%;
                    position:absolute;
                    top:42px;
                    left:-5px;
                }
            }

        }
        .panel-body{
            padding-bottom:50px;
            font-size:12px;
        }
    }


    .sider{
        a, a:hover, a:focus{
            text-decoration:none;
        }
    }

}